<input [(ngModel)]="descriptionLength" min="0" max="100" type="range">
{{descriptionLength}}
<br>
<input [(ngModel)]="searchedProduct" (ngModelChange)="searchProducts()" type="text"> <br>
<br>

<div *ngFor="let product of products">
  <img src="{{ product.imgSrc }}" alt="">
  <div>{{ product.name }}</div>
  <div>{{ product.description | shortenDescription:descriptionLength }}</div>
  <div>{{ product.price | productPrice }}</div>
  <button (click)="deleteProduct(product)">X</button>
  <button routerLink="/admin/muuda/{{product.id}}">Muuda</button>
</div>