<button>TÜHJENDA -- KOJU</button>
<div>KUI ON OSTUKORVI TÜHI, SIIS NÄITA SIIN PILTI (ngIf)</div>

<div>{{ cart.length }} tk</div>
<!-- {product: {imgSrc: "", name: "", price: ""}, quantity: 2} -->
<div class="cart-product" *ngFor="let cartProduct of cart">
  <img class="product-img" src="{{ cartProduct.product.imgSrc }}" alt="">
  <div class="product-name">{{ cartProduct.product.name }}</div>
  <div class="product-price">{{ cartProduct.product.price | productPrice }}</div>
  <div class="quantity-controls">
    <img class="product-button" src="assets/minus.png" (click)="decreaseQuantity(cartProduct)" />
    <div class="product-quantity">{{ cartProduct.quantity }} tk</div>
    <img class="product-button" src="assets/plus.png" (click)="increaseQuantity(cartProduct)" />
  </div>
  <div class="product-total">{{ (cartProduct.product.price * cartProduct.quantity) | productPrice }}</div>
  <img class="product-button" src="assets/delete.png" (click)="removeProduct(cartProduct)">
</div>

<select>
  <option *ngFor="let pm of parcelMachines">{{pm.NAME}}</option>
</select>

<div class="cart-sum">{{ cartSum | productPrice }}</div>