<div *ngIf="product">
  <!-- a-form    ngForm          a-form     formGroup-->     
  <form (ngSubmit)="onSubmit()" [formGroup]="editProductForm">
    <label>ID</label> <br>
    <input formControlName="id" type="number" required> <br>
    <label>Nimi</label> <br>
    <input formControlName="name" type="text" required> <br>
    <label>Kategooria</label> <br>
    <!-- <input formControlName="category" type="text" required> <br> -->
    <select formControlName="category">
      <option *ngFor="let category of categories">{{category.name}}</option>
    </select> <br>
    <button type="button" (click)="openInfo()">?</button>
    <label>Pildi aadress</label> <br>
    <div *ngIf="infoOpen">Pilt peab olema http(s):// kujul ja lõppema .png / .jpg või .jpeg</div>
    <input formControlName="imgSrc" type="text" required> <br>
    <label>Kirjeldus</label> <br>
    <input formControlName="description" type="text" required> <br>
    <label>Hind</label> <br>
    <input formControlName="price" type="number" required> <br>
    <label>Aktiivsus</label> <br>
    <input formControlName="isActive" type="checkbox" required> <br>
    <button type="submit" [disabled]="editProductForm.invalid">Muuda toode</button>
  </form>
  <!-- app.module.ts faili ja imports: [ xModule, yModule, zModule, ReactiveFormsModule] -->
  <!-- <img src="{{ product.imgSrc }}" alt="">
  <div>{{ product.id }}</div>
  <div>{{ product.name }}</div>
  <div>{{ product.category }}</div>
  <div>{{ product.description }}</div>
  <div>{{ product.price }}</div>
  <div>{{ product.isActive }}</div> -->
</div>